.wrap__digital-clock {
  padding: 20px;
}
.wrap__digital-clock .digital-clock {
  color: brown;
}
.digital-clock,
.date-style {
  padding-bottom: 5px;
  font-size: 16px;
  color: rgb(25, 65, 100);
  font-weight: 600;
}
.clock {
  width: 550px;
  height: 550px;
  background-size: cover;
  background-image: url('../images/clock.jpg');
  border-radius: 50%;
  border: 1px saddlebrown;
  position: relative;
  left: 40%;
  top: 30%;
}
.clock-arrow {
  position: absolute;
  background-color: black;
  transform-origin: bottom;
  transform: translateX(-50%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.clock-center {
  position: absolute;
  background-color: black;
  top: 268px;
  left: 268px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.clock-seconds__arrow {
  bottom: 50%;
  width: 5px;
  height: 40%;
  left: 50%;
}
.clock-minutes__arrow {
  bottom: 50%;
  left: 50%;
  width: 7px;
  height: 33%;
}
.clock-hours__arrow {
  left: 50%;
  bottom: 50%;
  width: 12px;
  height: 24%;
}
